<%= form_for @form, url: :home_calculate, html: {class: 'form-horizontal l-scoreForm Form'} do |f| %>
  <div class="row l-scoreFormFrameHeader scoreFormFrameHeader">
    <div class="col-xs-1"></div>
    <div class="col-xs-2">第１投</div>
    <div class="col-xs-2">第２投</div>
    <div class="col-xs-2">第３投</div>
    <div class="col-xs-2">フレームスコア</div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-xs-1 l-scoreFormFrameLabel">
        <%= f.label '1' %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw01', options_for_select(scores, :selected => @form.throw01), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw02', options_for_select(scores, :selected => @form.throw02), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(1),readonly:false,class:'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-1 l-scoreFormFrameLabel">
        <%= f.label '2' %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw03', options_for_select(scores, :selected => @form.throw03), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw04', options_for_select(scores, :selected => @form.throw04), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(2),readonly:false,class:'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-1 l-scoreFormFrameLabel">
        <%= f.label '3' %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw05', options_for_select(scores, :selected => @form.throw05), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw06', options_for_select(scores, :selected => @form.throw06), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(3),readonly:false,class:'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-1 l-scoreFormFrameLabel">
        <%= f.label '4' %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw07', options_for_select(scores, :selected => @form.throw07), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw08', options_for_select(scores, :selected => @form.throw08), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(4),readonly:false,class:'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-1 l-scoreFormFrameLabel">
        <%= f.label '5' %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw09', options_for_select(scores, :selected => @form.throw09), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw10', options_for_select(scores, :selected => @form.throw10), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(5),readonly:false,class:'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-1 l-scoreFormFrameLabel">
        <%= f.label '6' %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw11', options_for_select(scores, :selected => @form.throw11), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw12', options_for_select(scores, :selected => @form.throw12), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(6),readonly:false,class:'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-1 l-scoreFormFrameLabel">
        <%= f.label '7' %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw13', options_for_select(scores, :selected => @form.throw13), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw14', options_for_select(scores, :selected => @form.throw14), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(7),readonly:false,class:'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-1 l-scoreFormFrameLabel">
        <%= f.label '8' %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw15', options_for_select(scores, :selected => @form.throw15), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw16', options_for_select(scores, :selected => @form.throw16), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(8),readonly:false,class:'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-1 l-scoreFormFrameLabel">
        <%= f.label '9' %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw17', options_for_select(scores, :selected => @form.throw17), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw18', options_for_select(scores, :selected => @form.throw18), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(9),readonly:false,class:'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-1 l-scoreFormFrameLabel">
        <%= f.label '10' %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw19', options_for_select(scores, :selected => @form.throw19), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw20', options_for_select(scores, :selected => @form.throw20), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'throw21', options_for_select(scores, :selected => @form.throw21), {:include_blank => true}, {class:'form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(10),readonly:false,class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="row col-xs-offset-1 text-center">
    <div class="form-group">
      <div class="col-xs-2">
        <%= submit_tag '計算する', class:'button' %>
      </div>
      <div class="col-xs-2">
        <%= link_to 'リセット', :home_clear, class:'button-reset' %>
      </div>
    </div>
  </div>
<% end %>