<h1>Bowling Game Scorer</h1>

<%
  @form = BowlingGameScoreService.create_from if @form.nil?
  scores = BowlingGameScoreService.get_scores_for_select
%>

<%= form_for @form, url: :home_calculate do |f| %>
    <table>
      <tobody>
        <tr>
          <td colspan="2">1</td>
          <td colspan="2">2</td>
          <td colspan="2">3</td>
          <td colspan="2">4</td>
          <td colspan="2">5</td>
          <td colspan="2">6</td>
          <td colspan="2">7</td>
          <td colspan="2">8</td>
          <td colspan="2">9</td>
          <td colspan="3">10</td>
          <td colspan="2">合計</td>
        </tr>
        <tr>
          <td>
            <%= f.select 'throw01', options_for_select(scores, :selected => @form.throw01), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw02', options_for_select(scores, :selected => @form.throw02), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw03', options_for_select(scores, :selected => @form.throw03), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw04', options_for_select(scores, :selected => @form.throw04), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw05', options_for_select(scores, :selected => @form.throw05), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw06', options_for_select(scores,:selected => @form.throw06), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw07', options_for_select(scores,:selected => @form.throw07), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw08', options_for_select(scores,:selected => @form.throw08), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw09', options_for_select(scores,:selected => @form.throw09), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw10', options_for_select(scores,:selected => @form.throw10), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw11', options_for_select(scores,:selected => @form.throw11), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw12', options_for_select(scores,:selected => @form.throw12), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw13', options_for_select(scores,:selected => @form.throw13), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw14', options_for_select(scores,:selected => @form.throw14), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw15', options_for_select(scores,:selected => @form.throw15), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw16', options_for_select(scores,:selected => @form.throw16), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw17', options_for_select(scores,:selected => @form.throw17), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw18', options_for_select(scores,:selected => @form.throw18), :include_blank => true %>
          </td>
          <td>
            <%= f.select 'throw19', options_for_select(scores,:selected => @form.throw19), :include_blank => true %></td>
          <td>
            <%= f.select 'throw20', options_for_select(scores, :selected => @form.throw20), :include_blank => true %></td>
          <td>
            <%= f.select 'throw21', options_for_select(scores, :selected => @form.throw21), :include_blank => true %></td>
          <td>
            <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score,readonly:false %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(1),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(2),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(3),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(4),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(5),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(6),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(7),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(8),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:@form.game.score_for_frame(9),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3, value:@form.game.score_for_frame(10), readonly:false %>
          </td>
        </tr>
      </tobody>
    </table>
    <%= submit_tag '計算する' %>
    <%= link_to 'リセット', :home_clear %>
<% end %>

<%= javascript_pack_tag 'bowling_game_form' %>