<h1>Bowling Game Scorer</h1>
<% scores = {'X':10,'9':9,'8':8,'7':7,'6':6,'5':5,'4':4,'3':3,'2':2,'1':1,'G':0} %>
<%= form_tag({action: :calculate},{name:'scoreform'}) do %>
    <table>
      <tobody>
        <tr>
          <td colspan="2">1</td>
          <td colspan="2">2</td>
          <td colspan="2">3</td>
          <td colspan="2">4</td>
          <td colspan="2">5</td>
          <td colspan="2">6</td>
          <td colspan="2">7</td>
          <td colspan="2">8</td>
          <td colspan="2">9</td>
          <td colspan="2">10</td>
          <td colspan="2">合計</td>
        </tr>
        <tr>
          <td>
            <%= select_tag 'throw01', options_for_select(scores) %>
          </td>
          <td>
            <%= select_tag 'throw02', options_for_select({'-':0,'/':1}) %>
          </td>
          <td>
            <%= select_tag 'throw03', options_for_select(scores) %>
          </td>
          <td>
            <%= select_tag 'throw04', options_for_select({}) %>
          </td>
          <td>
            <%= select_tag 'throw05', options_for_select(scores) %>
          </td>
          <td>
            <%= select_tag 'throw06', options_for_select({}) %>
          </td>
          <td>
            <%= select_tag 'throw07', options_for_select(scores) %>
          </td>
          <td>
            <%= select_tag 'throw08', options_for_select({}) %>
          </td>
          <td>
            <%= select_tag 'throw09', options_for_select(scores) %>
          </td>
          <td>
            <%= select_tag 'throw10', options_for_select({}) %>
          </td>
          <td>
            <%= select_tag 'throw11', options_for_select(scores) %>
          </td>
          <td>
            <%= select_tag 'throw12', options_for_select({}) %>
          </td>
          <td>
            <%= select_tag 'throw13', options_for_select(scores) %>
          </td>
          <td>
            <%= select_tag 'throw14', options_for_select({}) %>
          </td>
          <td>
            <%= select_tag 'throw15', options_for_select(scores) %>
          </td>
          <td>
            <%= select_tag 'throw16', options_for_select({}) %>
          </td>
          <td>
            <%= select_tag 'throw17', options_for_select(scores) %>
          </td>
          <td>
            <%= select_tag 'throw18', options_for_select({}) %>
          </td>
          <td>
            <%= select_tag 'throw19', options_for_select(scores) %></td>
          <td>
            <%= select_tag 'throw20', options_for_select(scores) %></td>
          <td>
            <%= select_tag 'throw21', options_for_select(scores) %></td>
          <td>
            <%= text_field_tag :throw_sum, :sum, size:3,value:300,readonly:false %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:30,readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:30,readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:30,readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:30,readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:30,readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:30,readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:30,readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:30,readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:30,readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:30,readonly:false %>
          </td>
        </tr>
      </tobody>
    </table>
    <%= submit_tag '計算する' %>
    <%= link_to 'リセット', :home_clear %>
<% end %>