<h1>Bowling Game Scorer</h1>
<%
  default_selected = 10
  scores = {'X': default_selected, '9':9, '8':8, '7':7, '6':6, '5':5, '4':4, '3':3, '2':2, '1':1, 'G':0}
  game = Bowling::Game.new
  game = @game if @game.present?
  params = @params if @params.present?
%>
<%= form_tag({action: :calculate},{name:'scoreform'}) do %>
    <table>
      <tobody>
        <tr>
          <td colspan="2">1</td>
          <td colspan="2">2</td>
          <td colspan="2">3</td>
          <td colspan="2">4</td>
          <td colspan="2">5</td>
          <td colspan="2">6</td>
          <td colspan="2">7</td>
          <td colspan="2">8</td>
          <td colspan="2">9</td>
          <td colspan="3">10</td>
          <td colspan="2">合計</td>
        </tr>
        <tr>
          <td>
            <%= select_tag 'throw01', options_for_select(scores, :selected => params ? params[:throw01] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw02', options_for_select(scores, :selected => params ? params[:throw02] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw03', options_for_select(scores, :selected => params ? params[:throw03] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw04', options_for_select(scores, :selected => params ? params[:throw04] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw05', options_for_select(scores, :selected => params ? params[:throw05] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw06', options_for_select(scores,:selected => params ? params[:throw06] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw07', options_for_select(scores,:selected => params ? params[:throw07] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw08', options_for_select(scores,:selected => params ? params[:throw08] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw09', options_for_select(scores,:selected => params ? params[:throw09] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw10', options_for_select(scores,:selected => params ? params[:throw10] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw11', options_for_select(scores,:selected => params ? params[:throw11] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw12', options_for_select(scores,:selected => params ? params[:throw12] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw13', options_for_select(scores,:selected => params ? params[:throw13] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw14', options_for_select(scores,:selected => params ? params[:throw14] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw15', options_for_select(scores,:selected => params ? params[:throw15] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw16', options_for_select(scores,:selected => params ? params[:throw16] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw17', options_for_select(scores,:selected => params ? params[:throw17] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw18', options_for_select(scores,:selected => params ? params[:throw18] : default_selected) %>
          </td>
          <td>
            <%= select_tag 'throw19', options_for_select(scores,:selected => params ? params[:throw19] : default_selected) %></td>
          <td>
            <%= select_tag 'throw20', options_for_select(scores, :selected => params ? params[:throw20] : default_selected) %></td>
          <td>
            <%= select_tag 'throw21', options_for_select(scores, :selected => params ? params[:throw21] : default_selected) %></td>
          <td>
            <%= text_field_tag :throw_sum, :sum, size:3,value:game.score,readonly:false %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:game.score_for_frame(1),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:game.score_for_frame(2),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:game.score_for_frame(3),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:game.score_for_frame(4),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:game.score_for_frame(5),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:game.score_for_frame(6),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:game.score_for_frame(7),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:game.score_for_frame(8),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3,value:game.score_for_frame(9),readonly:false %>
          </td>
          <td colspan="2">
            <%= text_field_tag :throw_sum, :sum, size:3, value:game.score_for_frame(10), readonly:false %>
          </td>
        </tr>
      </tobody>
    </table>
    <%= submit_tag '計算する' %>
    <%= link_to 'リセット', :home_clear %>
<% end %>