<!DOCTYPE html>
<html>
  <head>
    <title>EtudeOp10No10</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="Header">
    <nav class="navbar Header__navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Bowling Game Scorer', :root, class:'navbar-brand logo' %>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Rails', :root %></li>
            <li><%= link_to 'ReactJS', :scores , method: 'get'%></li>
            <li><%= link_to 'Vue.js', :vue_index , method: 'get'%></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <body class="container l-container">
    <%= yield %>
  </body>

  <footer class="Footer">
    <div class="row">
      <div class="col-xs-12 Footer__body">
        <p>Powered by RoR &copy; 2017 k2works</p>
      </div>
    </div>
  </footer>
</html>
